
.navbar{
background-color:pink;
}
h1, h4, body{
   font-family: "Verdana", sans-serif; 
}

.panel-default > .panel-heading {
    background-color: pink;
}


.panel{
border-radius:4px;
}

a, a:hover, a:focus{
color:white;
}

.btn{
border-color:pink;
}

.btn:hover
{
border-color:pink;
background-color:pink;
}


img, img:hover, img:focus {
    color: white;
    display:inline-block;
    width:15px;
	height:15px;
    *margin-right:.3em;
    line-height:15px;
    vertical-align:text-top;
    *margin-left:0;
	background-position: -68px 0 
	}

