
.navbar{
background-color:pink;
}
h1, h4, body{
   font-family: "Verdana", sans-serif; 
}

.panel-default > .panel-heading {
    background-color: pink;
}


.panel{
border-radius:4px;
}

a, a:hover, a:focus{
color:white;
}

.btn{
border-color:pink;
}

.btn:hover
{
border-color:pink;
background-color:pink;
}